#content {
  text-align: center;
  color: var(--color-white);
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: 900;
  font-family: 'Tilt Warp', sans-serif;
  text-transform: uppercase;
}

#cta {
  margin-top: 2rem;
}

#cta a {
  text-decoration: none;
  background-color: var(--color-primary-100);
  color: var(--color-white);
  padding: 0.5rem 2rem;
  border-radius: 30px;
  font-size: 1.5rem;
}

#cta a:hover {
  background-color: var(--color-primary-400);
}

h1 {
  font-size: 5vw;
}

.linear-wipe {
  background: linear-gradient(
    -45deg,
    #8bc7fb,
    #86e7ff,
    #ffc27c,
    #ffcc93,
    #b993ff,
    #b993ff,
    #ff8ddd,
    #ff8ddd
  );
  background-size: 300%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 5vw;
  letter-spacing: -5px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 15s ease-in-out infinite;
  -moz-animation: animated_text 15s ease-in-out infinite;
  -webkit-animation: animated_text 15s ease-in-out infinite;
}
@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
