#note-details {
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-primary-600);
  border-radius: 24px;
  animation: fade-slide-in 1s ease-out forwards;
}

#note-details nav {
  margin: 1rem 0 2rem 0;
}

#note-details header a {
  color: var(--color-secondary-50);
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

#note-details svg {
  vertical-align: middle;
  margin-right: 0.5rem;
}

#note-details header a:hover {
  color: var(--color-secondary-100);
}

#note-details-content {
  color: var(--color-white);
  font-size: 1.15rem;
  white-space: pre-wrap;
}

.note-actions {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-actions button,
.note-actions a {
  background-color: transparent;
  border: none;
  color: var(--color-white);
  padding: 0;
  font-weight: 500;
  font-size: 1.15rem;
}

.note-actions button:hover,
.note-actions a:hover {
  color: var(--color-secondary-50);
}

.note-actions svg:hover {
  cursor: pointer;
}
